<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SeeNowProcess</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/leftmenu.css">

</head>
<body>
    <div class="container-fluid">
      <!--  <div class="row">
            <div class="container col-sm-1 sidebar" id="sidebar">-->
                <!-- <u1 class="my_list-group" style="background-color:azure;height: 100%; padding-top: 20px; padding-bottom: 40px"> -->
                <!--<button type="button" class="btn btn-lg btn-block"> Start Bootstrap </button></li> -->
        <ul class="sidebar" id="sidebar">
            <li><a class="btn btn-lg btn-block green_button" href="/Add/Index" role="button">+Add</a></li> <!--Adding new project-->
            <li style="padding:20px"></li>
            <li><a class="btn btn-block my_sidebar_button" href="/MyRecent/Index" role="button"><strong>My Recent</strong></a></li>
            <li><a class="btn btn-block my_sidebar_button" href="/MyWork/MyWorkIndex" role="button"><strong>My Work</strong></a></li>
            <li><a class="btn btn-block my_sidebar_button" href="/Backlog/Index" role="button"><strong>Backlog</strong></a></li>
            <li><a class="btn btn-block my_sidebar_button" href="/ReleasePlan/Index" role="button"><strong>Release Plan </strong></a></li>
            <li><a class="btn btn-block my_sidebar_button" href="/IterationPlan/Index" role="button"><strong>Iteration Plan</strong></a></li>
            <li><a class="btn btn-block my_sidebar_button" href="/TaskBoard/Index" role="button"><strong>Task Board</strong></a></li>
            <li><a class="btn btn-block my_sidebar_button" href="/People/Index" role="button"><strong>People</strong></a></li>
            <li><a class="btn btn-block my_sidebar_button" href="/Dashboard/Index" role="button"><strong>Dashboard</strong></a></li>
            <li><a class="btn btn-block my_sidebar_button" href="/Contact/Index" role="button"><strong>Contact</strong></a></li>
            <li style="padding:50px;"></li>
            <li><a class="btn btn-lg btn-block create_button" href="/Create/Index" role="button">+Create</a></li>
        </ul>
                <div class="container body-content main_page">
                    @RenderBody()
                </div>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                  <!--  @Html.ActionLink("SeeNowProcess", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" }) -->
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="top-left my_sidebar_button"><a href="/Home/Index">HOME</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="topbar my_sidebar_button"><a href="/Account/Register"><span class="glyphicon glyphicon-book"></span> REGISTER</a></li>
                        <li class="topbar my_sidebar_button"><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"> </span> LOG IN</a></li>
                    </ul>
               <!--     @Html.Partial("_LoginPartial")-->
                </div>
            </div> 
        </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
