<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SeeNowProcess</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/leftmenu.css">

</head>
<body>
    <div class="container-fluid">
       <ul class="sidebar" id="sidebar">
            <li><a class="btn btn-lg btn-block create_button" href="/Add/Index" role="button">+Add Task</a></li> <!--Adding new project-->
            <li style="padding:5px"></li>
            <li><a class="btn btn-lg btn-block create_button" href="/Add/UserStoryAddIndex" role="button">+Add UserStory</a></li>
            <li style="padding:20px"></li>
            <li><a class="btn btn-block my_sidebar_button" href="/MyWork/MyWorkIndex" role="button"><strong>My Work</strong></a></li>
            <li><a class="btn btn-block my_sidebar_button" href="/Backlog/BacklogIndex" role="button"><strong>Backlog</strong></a></li>
           <li><a class="btn btn-block my_sidebar_button" href="/IterationPlan/IterationPlanIndex" role="button"><strong>Iteration Plan</strong></a></li>
            <li><a class="btn btn-block my_sidebar_button" href="/TaskBoard/TaskBoardIndex" role="button"><strong>Task Board</strong></a></li>
            <li><a class="btn btn-block my_sidebar_button" href="/WorkByPerson/WorkByPersonIndex" role="button"><strong>Work by person</strong></a></li>
            <li><a class="btn btn-block my_sidebar_button" href="/People/PeopleIndex" role="button"><strong>People</strong></a></li>
            <li style="padding:50px;"></li>
            <li><a class="btn btn-lg btn-block create_button" href="/Create/Index" role="button">+Create Project</a></li>
            <li style="padding:5px"></li>
            <li><a class="btn btn-lg btn-block create_button" href="/Add/TeamAddIndex" role="button">+Create Team</a></li>
        </ul>
                <div class="container body-content main_page">
                    @RenderBody()
                </div>
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="top-left my_sidebar_button"><a href="/Home/Index">HOME</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="topbar my_sidebar_button"><a href="/Account/Register"><span class="glyphicon glyphicon-book"></span> REGISTER</a></li>
                        <li class="topbar my_sidebar_button"><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"> </span> LOG IN</a></li>
                        <li class="topbar my_sidebar_button"><a href="/Account/Logout"><span class="glyphicon glyphicon-log-out"> </span> LOG OUT</a></li>
                    </ul>
                </div>
            </div> 
        </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
