@model IEnumerable<SeeNowProcess.Models.User>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";
}

<head>
    <style>
        .space {
            height: 500px;
      
            width: 0px;
            border: 1px solid #aaaaaa;
            background-color:#e6ffe6;
            min-height:400px;
            max-height: 1000px;
            /*padding: 0 !important;
            margin: 0 !important;*/
        }

        .visible {
            min-height: 500px;
            min-width: 50px;
        }

        .space2 {
            height: 100%;
            border: 1px solid #aaaaaa;
            background-color:#e6ffe6;
        }
        .body {
            margin:0!important;
        }
        .simpleDemo ul[dnd-list],
        .simpleDemo ul[dnd-list] > li {
            position: relative;
        }

        .simpleDemo ul[dnd-list] {
            min-height: 42px;
            padding-left: 0px;
        }

            .simpleDemo ul[dnd-list] .dndDraggingSource {
                display: none;
            }

            .simpleDemo ul[dnd-list] .dndPlaceholder {
                display: block;
                background-color: #ddd;
                min-height: 42px;
            }

            .simpleDemo ul[dnd-list] li {
                background-color: #fff;
                border: 1px solid #ddd;
                border-top-right-radius: 4px;
                border-top-left-radius: 4px;
                display: block;
                padding: 10px 15px;
                margin-bottom: -1px;
            }

                .simpleDemo ul[dnd-list] li.selected {
                    background-color: #dff0d8;
                    color: #3c763d;
                }
    </style>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="~/Content/leftmenu.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="~/Scripts/angular-drag-and-drop-lists.js"></script>
</head>
<body>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>

            </tr>
        }

    </table>
    <script>
        angular.module("dragAndDrop", ['dndLists']).controller("dragging", function ($scope) {

            $scope.models = {
                selected: null,
                lists: { "A": [], "B": [], "C": [], "D":[], "E":[], "F":[] }
            };

            // Generate initial model
            for (var i = 1; i <= 3; ++i) {
                $scope.models.lists.A.push({ label: "Item A" + i });
                $scope.models.lists.B.push({ label: "Item B" + i });
            }

            // Model to JSON for demo purpose
            $scope.$watch('models', function (model) {
                $scope.modelAsJson = angular.toJson(model, true);
            }, true);

        });

</script>

    <div class="container-fluid" ng-app="dragAndDrop" ng-controller="dragging" >
  
        

        

        <div class="row">
            <div class="space2 col-sm-2"><h5 class="text-center"><strong>Open</strong></h5></div>
            <div class="space2 col-sm-2"><h5 class="text-center"><strong>Planned</strong></h5></div>
            <div class="space2 col-sm-2"><h5 class="text-center"><strong>In Progress</strong></h5></div>
            <div class="space2 col-sm-2"><h5 class="text-center"><strong>In Testing</strong></h5></div>
            <div class="space2 col-sm-2"><h5 class="text-center"><strong>Done</strong></h5></div>
            <div class="space2 col-sm-2"><h5 class="text-center"><strong>Cancelled</strong></h5></div>
        </div>
        <div class="row">
            <div class="space col-sm-2" @*ondrop="drop(event)" ondragover="allowDrop(event)"*@>
                <ul class="visible list-unstyled text-center" dnd-list="models.lists.A">
                    <li ng-repeat="item in models.lists.A"
                        dnd-draggable="item"
                        dnd-moved="models.lists.A.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = item"
                        ng-class="{'selected': models.selected === item}">
                        <h3><p class="label label-success">{{item.label}}</p></h3>
                    </li>
                </ul>

                @*<h3 class="text-center" ondragstart="dragStart(event)" draggable="true" id="dragtarget">
                    <span class="label label-default">
                        Task 1
                    </span>
                </h3>*@

            </div>
            <div class="space col-sm-2" @*ondrop="drop(event)" ondragover="allowDrop(event)"*@>
                <ul class="visible list-unstyled text-center" dnd-list="models.lists.B">
                    <li ng-repeat="item in models.lists.B"
                        dnd-draggable="item"
                        dnd-moved="models.lists.B.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = item"
                        ng-class="{'selected': models.selected === item}">
                        <h3><p class="label label-success">{{item.label}}</p></h3>
                    </li>
                </ul>
            </div>
            <div class="space col-sm-2" @*ondrop="drop(event)" ondragover="allowDrop(event)"*@>
                <ul class="visible list-unstyled text-center" dnd-list="models.lists.C">
                    <li ng-repeat="item in models.lists.C"
                        dnd-draggable="item"
                        dnd-moved="models.lists.C.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = item"
                        ng-class="{'selected': models.selected === item}">
                        <h3><p class="label label-success">{{item.label}}</p></h3>
                    </li>
                </ul>
            </div>
            <div class="space col-sm-2" @*ondrop="drop(event)" ondragover="allowDrop(event)"*@>
                <ul class="visible list-unstyled text-center" dnd-list="models.lists.D">
                    <li ng-repeat="item in models.lists.D"
                        dnd-draggable="item"
                        dnd-moved="models.lists.D.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = item"
                        ng-class="{'selected': models.selected === item}">
                        <h3><p class="label label-success">{{item.label}}</p></h3>
                    </li>
                </ul>
            </div>
            <div class="space col-sm-2" @*ondrop="drop(event)" ondragover="allowDrop(event)"*@>
                <ul class="visible list-unstyled text-center" dnd-list="models.lists.E">
                    <li ng-repeat="item in models.lists.E"
                        dnd-draggable="item"
                        dnd-moved="models.lists.E.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = item"
                        ng-class="{'selected': models.selected === item}">
                        <h3><p class="label label-success">{{item.label}}</p></h3>
                    </li>
                </ul>
            </div>
            <div class="space col-sm-2" @*ondrop="drop(event)" ondragover="allowDrop(event)"*@>
                <ul class="visible list-unstyled text-center" dnd-list="models.lists.F">
                    <li ng-repeat="item in models.lists.F"
                        dnd-draggable="item"
                        dnd-moved="models.lists.F.splice($index, 1)"
                        dnd-effect-allowed="move"
                        dnd-selected="models.selected = item"
                        ng-class="{'selected': models.selected === item}">
                        <h3><p class="label label-success">{{item.label}}</p></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    @*<p>Drag the p element back and forth between the two rectangles:</p>*@

    @*<div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)">*@
    @*<p class="dragtarget" ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true" id="dragtarget">Drag me!</p>*@
    @*</div>*@

    @*<div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
        <div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)"></div>*@

    @*<p style="clear:both;"><strong>Note:</strong> drag events are not supported in Internet Explorer 8 and earlier versions or Safari 5.1 and earlier versions.</p>*@

    @*<p id="demo"></p> *@

    <script>
//function dragStart(event) {
//    event.dataTransfer.setData("Text", event.target.id);
//}


//function allowDrop(event) {
//    event.preventDefault();
//}

//function drop(event) {
//    event.preventDefault();
//    var data = event.dataTransfer.getData("Text");
//    event.target.appendChild(document.getElementById(data));
//}
    </script>

</body>

